@model RedSocial.Models.COMENTARIOS

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Está seguro de que quiere borrar esto?</h3>
<div>
    <h4>COMENTARIOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComentarioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComentarioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEnviado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEnviado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reaccion_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reaccion_ID)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ComentarioID)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
